API_URL=https://backend:5101/
FRONTEND_URL=https://localhost:5100/
ILPAY_URL=https://interledgerpay.com/extension/
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
AWS_BUCKET_NAME=wm-tools-configs
AWS_RETRY_MAX_ATTEMPTS=3
AWS_RETRY_TIMEOUT=3000 #ms